.carousel {
  height: 450px;
}
.cardbox {
  justify-content: center;
}
.al-center {
  margin-left: 25%;
}
.al-center2 {
  margin-left: 11.5%;
}
img {
  height: 400px;
  width: 400px;
}
#cf {
  position: relative;
  height: 281px;
  width: 450px;
  margin: 0 auto;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95%;
  width: 65%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}
.container:hover .overlay2 {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95%;
  width: 65%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}
.container:hover .overlay {
  opacity: 1;
}

#cf img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* #cf img.top:hover {
  opacity: 0;
} */
