nav {
  margin-bottom: 5%;
  margin-left: 0%;
  margin-right: 0%;
  /* position: fixed; */
}
.navbr {
  padding-left: 10%;
}
.instanav {
  display: flex;
  padding-left: 58%;
}
.instatitle {
  padding-top: 5%;
}
